<div class="animated fadeIn">
  <div class="row justify-content-center">
    <div class="col-xl-6 col-12">
      <div class="card">
        <div class="card-header">
          <strong>Cambiar Contraseña</strong>
        </div>
        <form novalidate (ngSubmit)="onSubmit(accountForm)" [formGroup]="accountForm">
          <div class="card-body">
            <div *ngIf="editingStatus" class="row" app-base-input label="Usuario" placeholder="Nombre" [group]="accountForm" id="name"></div>
            <div *ngIf="!editingStatus" class="row" app-base-input label="Contraseña Actual" formValidate="true" type="password" placeholder="Contraseña Actual"
              [group]="accountForm" id="currentPassword"></div>
            <div class="row" app-base-input label="Nueva Contraseña" formValidate="true" type="password" placeholder="Nueva Contraseña"
              [group]="accountForm" id="password"></div>
            <div class="row" app-base-input label="Confirmación Nueva Contraseña" type="password" placeholder="Confirmación Nueva Contraseña"
              [group]="accountForm" id="passwordConfirm"></div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Salvar</button>
            <button type="button" (click)=onReturn() class="btn btn-sm btn-warning"><i class="fa fa-sign-out"></i>
              Cancelar</button>
          </div>
        </form>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
