<div class="animated fadeIn">
  <div class="row justify-content-center">
    <div class="col-xl-6 col-12">
      <div class="card">
        <div class="card-header">
          <strong>Pesos por Periodo</strong>
        </div>
        <div class="card-body">
          <form novalidate (ngSubmit)="onSubmit()" [formGroup]="detailForm">
            <div class="row">
              <div app-base-input *ngIf="false" class="col-sm-2" type="date" colCss="" label="Fecha Inicial" placeholder="Fecha Inicial"
                [group]="detailForm" id="day"></div>
              <div app-base-input class="col-sm-2" type="number" colCss="" label="Año" placeholder="Año" [group]="detailForm" id="year"></div>
              <div app-base-input class="col-sm-3" colCss="" label="Mes" [options]="monthList" type="dropdown" placeholder="Indicador"
                [group]="detailForm" id="month"></div>
              <div app-base-input *ngIf="false" class="col-sm-3" colCss="" label="Trimestre" [options]="quarterList" type="dropdown" placeholder="Estado"
                [group]="detailForm" id="quarter"></div>
              <div class="col-sm-2">
                <label>&nbsp;</label>
                <div class="input-group">
                  <button class="btn btn-primary" (click)="onSearch()" type="button">
                    <i class="fa fa-search"></i> Consultar</button>
                </div>
              </div>
              <div class="col-sm-2">
                <label>&nbsp;</label>
                <div class="input-group">
                  <button class="btn btn-secondary" type="button" (click)="onHierarcySelect()">
                    <i class="fa fa-sitemap"></i> Jerarquia</button>
                </div>
              </div>
            </div>
          </form>
          <p-table *ngIf="showTable" [columns]="cols" [value]="data">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <ng-container *ngFor="let col of columns; let i = index">
                  <td *ngIf="rowData[i]; else empty" pEditableColumn>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input type="number" step=".01" [ngModelOptions]="{standalone: true}" [(ngModel)]="rowData[i].value">
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{rowData[i]?.dayNumber}}
                        <h5>
                          <span class="badge badge-info">{{rowData[i]?.value}}</span>
                        </h5>
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <ng-template #empty>
                    <td></td>
                  </ng-template>
                </ng-container>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="card-footer">
          <button type="button" (click)=onSubmit() class="btn btn-sm btn-primary">
            <i class="fa fa-save"></i> Salvar</button>
          <button type="button" (click)=onReturn() class="btn btn-sm btn-warning">
            <i class="fa fa-sign-out"></i> Cancelar</button>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
<div bsModal #hierarchySelectModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Jerarquía</h4>
        <button type="button" class="close" (click)="hierarchySelectModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <div class="row" app-base-input label="Jerarquia" (valueChange)="onChangeHierarchy($event)" type="dropdown" [options]="hierarchyList"
              placeholder="Jerarquia" [group]="detailForm" id="hierarchy"></div>
            <app-hierarchy-tree [showToolbar]="false" [nodes]="activeNodes"></app-hierarchy-tree>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-info" (click)="hierarchySelectModal.hide()">
          <i class="fa fa-save"></i> Seleccionar</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
