.btn-delete {
   text-align: center !important;
   width: 50px !important;
}

.chk-isdate {
    text-align: center !important;
    width: 80px !important;
 }

 .btn-hierarchy {
    text-align: center !important;
    width: 90px !important;
 }

 .invalidrowdata {
   background-color: #fbe3e4 !important;
}