<div class="animated fadeIn">
  <div class="row justify-content-center">
    <div class="col-xl-6 col-12">
      <div class="card">
        <div class="card-header">
          <strong>Delegar Funciones</strong>
        </div>
        <form novalidate (ngSubmit)="onSubmit(detailForm)" [formGroup]="detailForm">
          <div class="card-body">
            <div class="row" app-base-input label="Usuario" type="dropdown" [options]="users" placeholder="Usuario" [group]="detailForm"
              id="delegateUserId"></div>
            <div class="row">
              <div app-base-input class="col-sm-6" type="date" colCss="" label="Fecha Inicial" placeholder="Fecha Inicial" [group]="detailForm"
                id="startDate"></div>
              <div app-base-input class="col-sm-6" type="date" colCss="" label="Fecha Final" placeholder="Fecha Final" [group]="detailForm"
                id="finalDate"></div>
            </div>
            <div class="row" app-base-input label="Activo" type="switch" [group]="detailForm" id="activeStatus"></div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary">
              <i class="fa fa-save"></i> Salvar</button>

            <button type="button" (click)=onReturn() class="btn btn-sm btn-warning">
              <i class="fa fa-sign-out"></i> Cancelar</button>
            <app-button-delete *ngIf="editingStatus" (confirm)=onDelete()></app-button-delete>
          </div>
        </form>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
