<div *ngIf="items; else loading; let rowItems">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Reglas de Negocio</div>
          <div class="card-body">
            <ngx-datatable
              class="material"
              [rows]="rowItems"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="10">
              <ngx-datatable-column name="Fecha" prop="startDate">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value | date:'yyyy-MM-dd'}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Tabla de Pago" prop="paymentTable.name"></ngx-datatable-column>
              <ngx-datatable-column name="Versión" prop="version"></ngx-datatable-column>
              <ngx-datatable-column name="Nueva Versión" maxWidth="100">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button (click)=onSelectVersion(row) class="btn btn-info btn-sm" type="button">Versión</button>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Ver" maxWidth="100">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button (click)=onSelect(row) class="btn btn-sm btn-outline-primary" type="button"><i class="fa fa-edit"></i></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <div class="card-footer">
            <button (click)=onCreate() type="button" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Nuevo</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>Loading Data...</ng-template>